scikit_image==0.14.2
numpy
opencv_contrib_python==3.4.2.17
Django==2.0.10
joblib==0.12.1
scipy==1.1.0
matplotlib==2.2.2
Keras==2.2.5
Pillow==6.2.2
scikit_learn==0.19.2
tensorflow==1.14.0
h5py<3.0.0


