<html>
<head>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


</head>
<body>
<br>
<br>
<br>
<div class = "container">
	<div class = "row">
			<div class = "col m2"></div>
				<div class = "col s12 m8 grey lighten-2" style = 'height:'auto'>
						{% block content %}
						<center>
						<br>
						<form method="post" enctype="multipart/form-data">

						{% csrf_token %}
						<br>	
							<div class = "col s12">
								<img id="image" src="{{myobject.image_url.url}}" alt="{{myobject.image_url.url}}" style = 'width:100%'/>
							</div>
						<div>
							<button type="submit" style="margin-top: 20px">Perform Analysis</button>			
						</div>		
					</form>
					<br>
					</center>
					{% endblock %}
				</div>
			</div>
	</div>		
</div>
</body>
</html>        							

