{% load static %}
<html>
<head>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'hwrapp/materialize.min.css' %}">
<!-- Compiled and minified JavaScript -->
<script src="{% static 'hwrapp/materialize.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'hwrapp/style.css' %}" />
</head>

<body>
	<center><h3><font color="white"> Recognition of Kannada Handwritten Documents</font></h3></center>
	<div class="container z-depth-2" style = 'margin-bottom:50px;background: rgba(255,255,255,0.35)' > 

	{% if latest_image_list %}
	
		<div class="row">
			{% for image in latest_image_list %}
			<div class="col s12 m4" style = 'margin-top:50px'>
				<div class="card white">
					<a href="delete_image/{{image.image_id}}">
						<div class = "right">
						<img src = "{% static 'hwrapp/images/deleteimage.png' %}" alt="delete">
					</div>
					</a>
					<center>
					<div class="card-image" style = 'width:200px; height: 200px;'>
				  		<img src="{{image.image_url.url}}" alt="{{image.image_url.url}}"  
				  		style = 'width:100%;vertical-align: middle; height: 100%'>
					</div>
					</center>
					<div class="card-action brown darken-4">
						<center><a href="details/{{image.image_id}}">View Image</a></center>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	{% else %}
		<p>No images are available.</p>
	{% endif %}
<br>
<center>
	<form method="POST">
		{% csrf_token %}
        <input type="submit" value="Upload"> 
    </form>
</center>
<br>						
<br>
</div>
<br>
</body>
</html>