{% load static %}
<!doctype html>
<meta charset=utf-8>
<title>Kannada test</title>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'hwrapp/materialize.min.css' %}">
<!-- Compiled and minified JavaScript -->
<script src="{% static 'hwrapp/materialize.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'hwrapp/style.css' %}" />

<script type="text/javascript">
document.onkeydown = function(e) {
    switch (e.keyCode) {
    	//left
        case 37:
            window.location.href = "/hwrapp/results/linesegments/{{image_id}}"
            break;
        //right
        case 39:
            window.location.href = "/hwrapp/results/wordsegments/{{image_id}}"
            break;
    }
};       
</script>

<body>
<center>
	<h3><font color="white">Line Segmentation</font>
	</h3>
</center>
<div id = "capture" class = "container" style = 'margin-top:50px;background: rgba(0,0,0,0.80)'  >
	<div class = "row">
		<div class = "col s12" style = 'margin-top:30px; height: auto;'>
			<center>
			{% if imagelist %}
				{% for image in imagelist %}
					<img src='/static/hwrapp/images/{{enddir}}/lines/{{image}}' alt = '/static/hwrapp/images/{{enddir}}/lines/{{image}}' style="width:100%" />
					<br>
					<br>
				{% endfor %}
			{% else %}
				<p>No output</p>
			{% endif %}
			</center>
		</div>
	</div>
</div>
</body>
</html>